@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Import Poppins font */

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/public/Arkaplan.png') no-repeat center center;
    background-size: cover; /* Adjusts the image to cover the container */
}

h1 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to the header */
}

.selection-button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text color */
    border: none;
    border-radius: 8px; /* Slightly rounded corners */
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Black shadow */
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.selection-button:hover {
    background-color: #f1f1f1; /* Slightly darker background on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}
